.settings__setting {
	padding: 20px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.3s ease-in-out;
}

.settings__setting:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.settings__setting i {
	margin-left: 10px;
	margin-right: 20px;
	font-size: 22px;
}

.settings__setting-column:last-child {
	color: rgba(0, 0, 0, 0.5);
}
